
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../vendor/fonts/MaterialIcons-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
       local('Roboto-Regular'),
       url(../vendor/fonts/Roboto-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
       local('RobotoMono-Regular'),
       url(../vendor/fonts/RobotoMono-Regular.woff2) format('woff2');
}


body, pre, code {
  margin: 0;
  padding: 0;
  background: #2b2b2b;
  font-size: 15px;
  font-family: Roboto;
}

pre, code {
  font-family: "Roboto Mono";
  font-size: 13px;
}

.header .material-icons.recording {
  color: red;
}

.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #e3e3e3;
  box-shadow: 0 0 8px rgba(0,0,0,0.15);
  font-size: 13px;
  background: #fff;
}
.header a,
.header .material-icons {
  display: inline-block;
  vertical-align: middle;
}
.header .material-icons {
  margin-right: 3px;
  position: relative;
  top: -1px;
  color: #999;
}
.button {
  float: left;
  position: relative;
  z-index: 1;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  border-left: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  background-color: #fff;
  font-size: 13px;
  color: #666;
  padding: 0 22px 0 20px;
  transition: box-shadow 0.25s ease, border-color 0.5s ease;
}
.button:hover {
  box-shadow: 0 2px 12px rgba(0,0,0,0.1);
}
.button:active {
  box-shadow: 0 2px 16px rgba(0,0,0,0.25);
}
.button.active {
  border-bottom: 2px solid #44A1FF;
}
.container {
  padding-top: 50px;
  position: relative;
  z-index: 1;
  height: 100%;
}
.message-container {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  cursor: default;
  margin-left: 20px;
}

.message {
  color: #44A1FF;
  transition: all .3s ease;
  display: inline-block;
  position: absolute;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
}

#testbar {
  padding: 20px 0 0 0;
}
